@custom-media --chisel-tablet (min-width: 42em);
@custom-media --chisel-desktop (min-width: 80em);

/* Chisel CSS Variables
 * ========================================================================== */
:root {
    --chisel-primary: #325476;
    --chisel-neutral-50: #f9fafb;
    --chisel-neutral-300: #d1d5db;
    --chisel-neutral-500: #6b7280
    --chisel-neutral-700: #6b7280;
    --chisel-neutral-900: #111827;

    --chisel-h1: 3.052rem;
    --chisel-h2: 2.441rem;
    --chisel-h3: 1.953rem;
    --chisel-h4: 1.563rem;
    --chisel-h5: 1.25rem;
    --chisel-h6: 0.8rem;
}
