/**
 * Based on Josh's Custom CSS Reset
 * https://www.joshwcomeau.com/css/custom-css-reset/
 */

/**
 * 1. Use a more intuitive box-sizing model
 */
:where(*, *::before, *::after) {
  box-sizing: border-box;
}

/**
 * 2. Remove default margins
 */
:where(*) {
  margin: 0;
}

/**
 * 3. Allow percentage-based heights in the application
 */
:where(html, body) {
  height: 100%;
}

/**
 * Typographic tweaks!
 * 4. Add accessible line-height
 * 5. Improve text rendering
 */
:where(body) {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/**
 * 6. Improve media defaults
 */
:where(img, picture, video, canvas, svg) {
  display: block;
  max-width: 100%;
}

/**
 * Remove built-in form typography styles
 */
:where(input, button, textarea, select) {
  font: inherit;
}

/**
 * 8. Avoid text overflows
 */
:where(p, h1, h2, h3, h4, h5, h6) {
  overflow-wrap: break-word;
}

/**
 * 9. Create a root stacking context
 */
:where(#root) {
  isolation: isolate;
}
