body {
    font-family: Poppins, sans-serif;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    position: sticky;
    top: 0;
    background: var(--chisel-neutral-50);
    z-index: 10;
}

.header__brand {
    height: 2rem;
}
