body {
  font-family: Poppins, sans-serif;
}

.container {
  width: 90vw;
  max-width: 90rem;
  margin: 0 auto;
}

.header {
  padding: 1rem 0;
  position: sticky;
  top: 0;
  background: var(--chisel-primary);
  color: var(--chisel-neutral-50);
  z-index: 10;
}

.header,
.header * {
  margin-top: 0;
}

.header a {
  color: inherit;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__github {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 20;
  height: 100%;
}

.header__github img {
  height: 4rem;
}

.footer {
  padding: 3rem 0;
  background: var(--chisel-primary);
  color: var(--chisel-neutral-50);
  text-align: center;
}

.footer a {
  color: inherit;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 67vh;
}

.hero img {
  width: 24em;
  max-width: 67vw;
  margin-bottom: 10vh;
}
